@using Common.DTO
@using ProjectForCourseWork_ver_2._0.Extensions
@using Kendo.Mvc.UI

@model IEnumerable<BuildingDto>

<div class = "title2" >
    <h2>Здания</h2>
</div>

<div class="row2">
            @(Html.Kendo().Grid(Model)
                .BackGrid()
                .Name("grBuildings")
                .HtmlAttributes(new { style = "height:760px" })
                .Groupable(g => g.Enabled(true))
                .Columns(columns =>
                {
                    //columns.Bound(p => p.Id).Filterable(false);
                    columns.Bound(p => p.Name);
                    columns.Bound(p => p.Post);
                    columns.Bound(p => p.Number_of_floors);
                    columns.Command(command => { command.Destroy(); }).Width(200);  
                })
                .ToolBar(tools =>
                {
                    tools.Create();
                    tools.Save();
                })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Pageable()
                .Sortable()
                .Scrollable()
                .Filterable()
                .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .Events(events => events.Error("error_handler"))
                .Model(model =>
                {
                    model.Id(p => p.Id);
                })
                .PageSize(20)
                .Read(read => read.Action("GetAllBuildings", "Buildings"))
                .Create(create => create.Action("AddBuildings", "Buildings"))
                .Update(update => update.Action("UpdateBuildings", "Buildings"))
                .Destroy(update => update.Action("DeleteBuildings", "Buildings"))
                )
            )
</div>

<script>
</script>
