@using Common.DTO
@using ProjectForCourseWork_ver_2._0.Extensions
@using Kendo.Mvc.UI

@model IEnumerable<ElectricsByOrganizationDto>

<div class="title2">
    <h2>Электрооборудование предприятий</h2>
</div>

<div class="floatingButtons">
    <button id="open" class="k-button">Добавить Оборудование</button>
</div>
<div class="row2">
    @(Html.Kendo().Grid(Model)
        .BackGrid()
        .Name("grElectricsByOrganization")
        .HtmlAttributes(new { style = "height:760px" })
        .Groupable(g => g.Enabled(true))
        .Columns(columns =>
        {
            columns.Bound(p => p.OrganizationName);
            columns.Bound(p => p.ElectricName);
            columns.Command(command => { command.Destroy(); }).Width(200);
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(p => p.Id);
            model.Field(p => p.Id).Editable(false);
        })
        .PageSize(30)
        .Read(read => read.Action("GetAllElectricsByOrganization", "ElectricsByOrganization"))
        .Destroy(update => update.Action("DeleteElectricByOrganization", "ElectricsByOrganization"))
        )
    )

    @(Html.Kendo().Window()
        .Name("AddElectricWindow")
        .Width(500)
        .Height(300)
        .Visible(false)
        .Draggable(true)
        .Resizable()
        .Title("Добавление электрооборудования для предприятия")
        .Actions(actions => actions.Refresh().Close())
        .LoadContentFrom("AddElectricWindow", "Main")
    )
</div>

<script>
    var myWindow;
    $(document).ready(function () {
        myWindow = $("#AddElectricWindow");
        $("#open").click(function (e) {
            myWindow.data("kendoWindow").open();
            myWindow.data("kendoWindow").center();
        });
    });
    function rebindDataSource() {
        $("#grElectricsByOrganization").data("kendoGrid").dataSource.read();
    }
</script>
