@using Common.DTO
@using ProjectForCourseWork_ver_2._0.Extensions
@using Kendo.Mvc.UI

@model IEnumerable<RoomDto>

<div class = "title2" >
    <h2>Помещения</h2>
</div>
<div class="row2">
        @(Html.Kendo().Grid(Model)
            .BackGrid()
            .Name("grRooms")
            .HtmlAttributes(new { style = "height:760px" })
            .Groupable(g => g.Enabled(true))
            .Columns(columns =>
            {
                columns.Bound(p => p.Number);
                columns.Bound(p => p.Area);
                columns.Bound(p => p.Floor);
                columns.Bound(p => p.TypeOfRoom).ClientTemplate("#=TypeOfRoom.Name#").Sortable(false).Width(250).EditorTemplateName("TypeOfRoomNameEdit");
                columns.Bound(p => p.Building).ClientTemplate("#=Building.Name#").Sortable(false).Width(250).EditorTemplateName("BuildingNameEdit");
                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
            })
            .ToolBar(tools =>
            {
                tools.Create();
            })
            .Editable(editable => editable.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(false))
            .Pageable()
            .Sortable()
            .Scrollable()
            .Filterable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.Error("error_handler"))
            .Model(model =>
            {
                model.Id(p => p.Id);
                model.Field(p => p.Id).Editable(false);
                model.Field(p => p.Building).DefaultValue(
                    ViewData["defaultBuilding"] as BuildingDto);
                model.Field(p => p.TypeOfRoom).DefaultValue(
                    ViewData["defaultType"] as TypeOfRoomDto);
            })
            .PageSize(30)
            .Read(read => read.Action("GetAllRooms", "Rooms"))
            .Create(create => create.Action("AddRoom", "Rooms")).Events(p => p.Sync("rebindDataSource"))
            .Update(update => update.Action("UpdateRoom", "Rooms"))
            .Destroy(update => update.Action("DeleteRoom", "Rooms"))
            )
        )
    </div>
<script>
    function rebindDataSource() {
        $("#grRooms").data("kendoGrid").dataSource.read();
    }
</script>
