<div>
    <P>
        <CENTER>
            Министерство образования Республики Беларусь
        </CENTER>
    <P>
        <CENTER> Гомельский Государственный Технический Университет им. Сухого </CENTER>
        <TABLE WIDTH=100%>
            <TR>
                <TD></TD>
                <TD ALIGN=RIGHT>Вариант № 16 </TD>
            </TR>
        </TABLE>
        <BR> <BR> <BR> <BR> <BR><BR> <BR> <BR> <BR> <BR>
    <P>
        <FONT SIZE=6>
            <CENTER>
                <B>
                    Курсовая работа <BR>
                    На тему: Учет расхода электрической энергии арендаторами торгового центра
                </B>
        </FONT> </CENTER>
    <P>
        <CENTER> Выполнил работу: <BR> Чирков Д.В. <BR> Проверил работу: <BR> Стародубцев Е. Г.</CENTER>
        <BR> <BR> <BR> <BR> <BR><BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR>
    <P> <CENTER> ГОМЕЛЬ<BR> 2019</CENTER>
</div>