@using Kendo.Mvc.UI

<div id="megaStore">
    <div class="col-sm-2">
        @(Html.Kendo().Menu()
                  .Name("Menu")
                  .SecurityTrimming(false)
                  .HoverDelay(100)
                  .BindTo("menu", (item, node) =>
                  {
                       if (item.Url != null)
                       {
                            var url = item.Url ?? Url.Action(item.ActionName, item.ControllerName);
                       }
                  })
                  .Orientation(MenuOrientation.Horizontal)
        )
        <HR SIZE=4 WIDTH=100% NOSHADE ALIGN=CENTER>
    </div>
</div>